.carritoBar {
    background: #543A12;
    font-weight: bold;
    padding: .5em;
    text-align: right;
}

.carritoBar span {
    margin-right: 1em;
}

.carritoBar span i {
    font-size: 1.25em;
}

.carritoBar a {
    color: #FFF9E5;
    text-decoration: none;
}

.carritoBar a:hover {
    text-decoration: underline;
}